@section styles {
    <link href="~/Content/Index.css" rel="stylesheet" />
}

@section scripts {
    @Scripts.Render("~/bundles/query")
}

<form data-bind="submit: executeQuery">
    <fieldset>
        <legend>Query</legend>
        <textarea name="query" data-bind="value: query"></textarea>
        <input type="submit" value="Execute" />
    </fieldset>
</form>

<section class="query-results">
    <ol data-bind="foreach: resultSets" class="result-sets">
        <li>
            <table class="result-set">
                <thead>
                    <tr data-bind="foreach: columns">
                        <th data-bind="text: name"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: rows">
                    <tr data-bind="foreach: values">
                        <td data-bind="text: value"></td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ol>
</section>